{% extends "auctions/layout.html" %}
{% load my_filters %}
{% load crispy_forms_tags %} 

{% block title %} {{ listing.title }} {% endblock %}

{% block body %}
<div class="container-fluid">
    {% if listing %}
        <div class="row justify-content-center">
            <div class="card mb-3 text-center" style="max-width: 900px">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/{{ listing.image }}" style="width:300px;">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h1 class="card-title">{{ listing.title }}</h1>
                            <h2 class="card-subtitle mb-2 text-muted">{{ listing.category }}</h2>
                            <p class="card-text">{{ listing.description }}</p>
                            {% if BidPrice.last_bid %}
                                <h2 class="card-text">{{ BidPrice.last_bid | currency }}</h2>
                            {% else %}
                                <h4 class="card-text">Last price:</h4>
                                <h2 class="card-text">{{ listing.start_price | currency }}</h2>
                            {% endif %}
                            {% if user.is_authenticated %}
                                <a class="btn btn-secondary mb-2" href="{% url 'watchlist_add' listing.id %}" role="button">Add to watchlist</a>
                                <form method="post" action="{% url 'set_bid' listing.id %}">
                                    {% csrf_token %}
                                    <div class="row mt-3 mb-3">
                                        <div class="col">
                                            <label class="form-label" for="lastbid">Submit your bid</label>
                                        </div>
                                        <div class="col">
                                            <input class="form-control" type="number" min="{{ listing.start_price }}" name="last_bid" id="lastbid">
                                        </div>
                                        <div class="col">
                                            <input class="btn" type="submit">
                                        </div>
                                </form>
                                {% if messages %}
                                <ul class="messages">
                                    {% for message in messages %}
                                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                                <form method="post" action="{% url 'change_status' listing.id %}">
                                    {% csrf_token %}
                                    <div class="row mt-4 mb-3 ml-4 mr-4 g-0">
                                        <div class="col">
                                            {{ form_status.status|as_crispy_field }}
                                        </div>
                                        <div class="col">
                                            <input class="btn" type="submit">
                                        </div>
                                    </div>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% if user.is_authenticated %}
            <div class="col">
                <form method="post" action="{% url 'add_comment' listing.id %}">
                    {% csrf_token %}
                    {{ form_comment | crispy }}
                    <input class="btn btn-secondary" type="submit">
                </form>
            </div>
            {% endif %}
            {% if comments %}
            <div class="col">
                {% for comment in comments %}
                    <h2>{{ comment.user }}</h2>
                    <p>{{ comment.comment }}</p><br/>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    {% else %}
        <h1>No listing selected</h1>
    {% endif %}
</div>
{% endblock %}